language: android
jdk:
- oraclejdk8
android:
  components:
  - platform-tools
  - tools
  - build-tools-29.0.2
  - android-29
  - extra-android-m2repository
script:
- "./gradlew -PdisablePreDex build"
notifications:
  slack:
    rooms:
      secure: ELgTZckzyjuhAnnAZiMYqCXdzAgnXBLXhJ37dJwEQMp4gGX/Om8HsoBZkj2nh7U3axxsu4qcIc+g/HSHIRvAvs9glIfwvhkiLKaOv/+TMH+fmfFqT7452SUJYLmdNwr20iRim3Sc+FMuNFU/AjzPrdiHV4aItexZZUWWr2qNEhGkRwbplqp8P5m0vac4qphAr6gBJ0cmYCJZmgWCR8P0VMwogOP462cS323CEODPdqgrfI5Vz5wqNtKyLGeiS3UNJed0C5zEU4d6Q0TdKq92NsLD/CZmCgrrMsm7cE0Vp9AKCDCb5AuTy7QC6vZGHrMsIzYZ4TYvitw5N0I6DG9NFGkZIgyT3vbaK356zukZ3li6iR7ooh06Ucnj0fjOz6aHZaGk8q1eH9qEBQ5dyZsmQekTKx3eouzgU7lABLb5B37BGZ39EBr2NdImRj0gQP7ozKacHd7P2YS9GsJ44SiANK7lUpVvEzGnCIlOtWgVkd+oNDrfljUmATyJ7tMNinxQ9BklvGFIGySWI2sRID+UupodhTj2S8EvDt7J0qei5scJlzkjIR9xV26k3J9uuUi1jTbp0qOVoYLfWIUHDXjJkY9SupMJ80vA4rwexuvglg0EwANg7icZ2lw86g5nBgU21qesuZP6H0dNzGTj56Q38BWvLFWzGMSx3y7NgHTCEII=
