language: android
jdk:
    - oraclejdk8

android:
  components:
  - platform-tools
  - tools
  - build-tools-25.0.0
  - android-25
  - extra-android-m2repository

script:
  - "./gradlew -PdisablePreDex build"
